@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import url('./nav.css');
@import url('./mainPage.css');
@import url('./footer.css');


html,body {
    margin: 0;
    padding: 0;
    background-color: #fcfcfe;
    font-family: 'Baloo Tamma 2', cursive;
}

.blue {
    color: #1439b3;
}